*{
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
/* NAV MENU */

#menu-toggle { 
  position: absolute;
  left: -9999px; /* Hide the checkbox */
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #D9D9D9;
  border: none;
}

body {
  overflow-x: hidden; /* Prevent horizontal nav */
 
}

.menu-icon {
  display :inline-block; /*or inline works as well*/
  position : absolute;
  left : 30px;
  cursor: pointer;
  /* position: relative; Ensure z-index works */
  z-index: 999; /* Set a high z-index value */
  font-size: 26px;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden */
  width: 250px;
  height: 100%;
  background-color: #333;
  padding-top: 20px;
  transition: left 0.3s; /* Transition effect */
}

.nav-menu ul {
  list-style-type: none;
  padding: 0;
}

.nav-menu li {
  padding: 10px 20px;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
}

.nav-menu li a:hover {
  background-color: #555;
}

/* Show nav menu when menu icon is clicked */
#menu-toggle:checked + header .nav-menu {
  left: 0;
}

#menu-toggle:checked + header .menu-icon {
  left: 250px; /* Move the menu icon along with the menu */
}
.header-logo{
  width: 96%;
  display : flex;
  align-items: center;
  justify-content : center;
}

.header-logo img {

  /*removed display inline-block*/
  width: auto;
  max-height: 100%;
  max-width: 63px;
  height: auto;
}

.active-image img{
  position: relative; /* Make sure the container is positioned */
  width: 100%; /* Adjust the width as needed */
  height: 600px; /* Adjust the height as needed */
  background-size: cover; /* Make sure the image covers the container */
  background-position: center; /* Center the image */
  object-fit: cover;
  object-position: 0 60%;
}

.active-image h1{
  position: absolute; /* Position the text absolutely */
  top: 50%; /* Adjust vertical position */
  left: 50%; /* Adjust horizontal position */
  transform: translate(-50%, -50%); /* Center the text */
  text-align: center;
  color: white; /* Set text color */
  font-size: 70px; /* Set font size */
  font-weight: bold; /* Set font weight */
  font-family: 'Montserrat', sans-serif;
  
}



/* OVERLAY */

.overlay {
  display: none; /* Hide overlays by default */
  position: fixed; /* Use fixed or absolute as per requirement */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1000; /* Ensure it's on top */
}

.overlay-content {
  position: relative;
  top: 10%; /* Adjust as per requirement */
  width: 80%;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 5px; /* Optional: for rounded corners */
}