* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:focus, a:focus, input:focus {
  background-color: black;
  color: white;
  opacity: 50%;
}

#menu-toggle {
  position: absolute;
  left: -9999px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6.25rem;
  background: #D9D9D9;
  border: none;
}

body {
  overflow-x: hidden;
}

.title-text {
  padding-left: 0.4375rem;
  padding-top: 6.25rem;
  color: #000;
}

.title {
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 115%;
}

.second-line {
  padding-left: 6.4375rem;
  padding-top: 1.5625rem;
}

.main-information {
  position: relative;
  padding-top: 2.8125rem;
}

.title-text p {
  position: relative;
  font-family: "Open Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 0.75rem;
  max-width: 23.75rem;
  left: 7.1875rem;
}

.main-tp {
  display: flex;
  padding-bottom: 13.125rem;
}

.main-tp img {
  position: relative;
  margin-left: auto;
  padding-top: 4.375rem;
  max-width: 2.8125rem;
  max-height: 35rem;
  object-fit: cover;
  object-position: 100% 0;
}

#call-to-action {
  background-color: #F47d29;
  color: white;
  padding-top: 6.75rem;
}

.sub-title-text {
  padding-left: 0.5813rem;
}

.sub-title-text h2 {
  font-family: "Montserrat";
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.69px;
}

.sub-title-text p {
  position: relative;
  left: 5.3125rem;
  top: 1.6875rem;
  max-width: 37.625rem;
  font-family: "Open Sans";
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 6.625rem;
}

.become-linked {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu-icon {
  display: inline-block;
  position: absolute;
  left: 1.875rem;
  cursor: pointer;
  z-index: 999;
  font-size: 1.625rem;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: -15.625rem;
  width: 15.625rem;
  height: 100%;
  background-color: #333;
  padding-top: 1.25rem;
  transition: left 0.3s;
}

.nav-menu ul {
  list-style-type: none;
  padding: 0;
}

.nav-menu li {
  padding: 0.625rem 1.25rem;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
}

.nav-menu li a:hover {
  background-color: #555;
}

#menu-toggle:checked + header .nav-menu {
  left: 0;
}

#menu-toggle:checked + header .menu-icon {
  left: 15.625rem;
}

.header-logo {
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo img {
  width: auto;
  max-height: 100%;
  max-width: 3.9375rem;
  height: auto;
}

<<<<<<< Updated upstream
.active-image {
  position: relative;
  z-index:-1;
}

.active-image img{
  width: 100%;
  height: 600px; 
  background-size: cover; 
  background-position: center; 
  object-fit: cover;
  object-position: 0 60%;
  
} 

.active-image h1{
  color: white; /* Set text color */
  font-size: 70px; /* Set font size */
  font-weight: bold; /* Set font weight */
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  z-index:-1;
}

.bike-container{
  display: flex;
}

.bike-container img{
  position: relative;
  width: 91px;
  height: 91px;
  bottom: 10px;
  left: 10px
}

.active-header-secondary{
  position: relative;
  bottom: 20px;
  left: 30px;
}

.active-header{
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-47%, -50%);
=======
.active-image img {
  position: relative;
  width: 100%;
  height: 37.5rem;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: 0 60%;
  z-index: -1;
>>>>>>> Stashed changes
}

.active-image h1 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -400%);
  text-align: center;
  color: white;
  font-size: 4.375rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.italics {
  font-style: italic;
  font-weight: 600;
}

.active-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.club-info {
  max-width: 27.5625rem;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.overlay-content {
  position: relative;
  top: 10%;
  max-width: 60.0625rem;
  margin: auto;
  padding: 1.25rem;
  background: white;
  border-radius: 1.25rem;
}

#wcit-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  font-family: "Open Sans";
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  line-height: normal;
  font-style: normal;
}

.overlay-content h2 {
  color: #4D4D4D;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.51px;
}

.overlay-content h3 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.76px;
}

.overlay-content p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
}

#footer {
  background-color: #007f63;
  color: white;
  padding: 1.25rem;
  text-align: center;
}

.footer-content p {
  margin: 0.625rem 0;
}

.header-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo img {
  max-width: 5%;
  height: auto;
}

.main-tp img {
  position: relative;
  margin-left: auto;
  padding-top: 4.375rem;
  max-width: 90%;
  max-height: 35rem;
  object-fit: cover;
  object-position: 95% 0;
}