/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Focus Styles */
button:focus,
a:focus,
input:focus {
  background-color: black;
  color: white;
  opacity: 50%;
}


/* Text */
#text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  font-family: "Open Sans";
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  line-height: normal;
  font-style: normal;
}


/* Title Text */
.title-text {
  padding-left: 0.4375rem;
  padding-top: 6.25rem;
  color: #000;
}

.title {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 115%;
}

/* Second Line For Title */
.second-line {
  padding-left: 6.4rem;
  padding-top: 1.6rem;
}

/* Main Information */
.main-information {
  position: relative;
  padding-top: 2.8rem;
}

.title-text p {
  position: relative;
  font-family: "Open Sans";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 0.75rem;
  max-width: 23.75rem;
  left: 7.2rem;
}

.main-tp {
  display: flex;
  padding-bottom: 13.125rem;
  padding-left: 5.3%;
}

/* Call to Action */
#call-to-action {
  background-color: #BCDFE7;
  color: black;
  padding-top: 6.75rem;
  padding-left: 7.3%;
}

/* Sub Title Text */
.sub-title-text {
  padding-left: 0.5813rem;
}

.sub-title-text h2 {
  font-family: "Montserrat";
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.69px;
}

.sub-title-text p {
  position: relative;
  left: 5.3125rem;
  top: 1.6875rem;
  max-width: 37.625rem;
  font-family: "Open Sans";
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 6.625rem;
}



/* Menu Icon */
.menu-icon {
  display: inline-block;
  position: absolute;
  left: 1.875rem;
  cursor: pointer;
  z-index: 999;
  font-size: 1.625rem;
}




/* Involved Image */
.sus-image {
  position: relative;
  z-index: -1;
}

.sus-image img {
  width: 100%;
  height: 37.5rem;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: 0.6%;
}

.sus-header{
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-47%, -50%);
  color: white;
  font-family: "Montserrat";
  font-weight: 700;
}

.sus-header img{
  max-width: 4.7rem;
  max-height: 4.7rem;
}

.sus-header h1{
  font-size: 4.375rem;
}

.earth-container {
  display: flex;
  position: relative;
  right: 5.4rem;
}

.earth-container img{
  position: relative;
  left: 1.3rem;
  top: 0.7rem;
}

.sus-secondary{
  position: relative;
  left:4.6rem;
  bottom: 1.3rem;
}

.involved-image {
  position: relative;
  z-index: -1;
}

.involved-image img {
  width: 100%;
  height: 37.5rem;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: 0.6%;
}

.involved-header{
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-47%, -50%);
  color: white;
  font-family: "Montserrat";
  font-weight: 700;
}

.involved-header img{
  position: relative;
  max-width: 4.9rem;
  max-height: 4.9rem;
  left: 3.5%;
  margin-top: 0.9rem;
}

.involved-header h1{
  font-size: 4.375rem;
}

.inv-secondary {
  position: relative;
  margin-left: 10.7rem;
  bottom: 0.8rem; 
}

.book-container{
  display: flex;
}

/* Active Image */
.active-image {
  position: relative;
  z-index: -1;
}

.active-image img {
  width: 100%;
  height: 37.5rem;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: 0.6%;
}

.active-image h1 {
  color: white;
  font-size: 4.375rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  z-index: -1;
}

/* Active Header */
.active-header{
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-47%, -50%);
}

.active-image h1 {
  position: relative;
  text-align: center;
  color: white;
  font-size: 4.375rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

/* Bike Container */
.bike-container {
  display: flex;
}

.bike-container img {
  position: relative;
  width: 5.688rem;
  height: 5.688rem;
  bottom: 0.625rem;
  left: 0.625rem;
}

/* Active Header Secondary */
.active-header-secondary {
  position: relative;
  bottom: 1.25rem;
  left: 1.875rem;
}

/* Italics */
.italics {
  font-style: italic;
  font-family: "Open Sans";
  font-weight: 600;
}

/* Active Grid */
.active-grid {
  padding-left: 9%;
  padding-right: 9%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  gap: 3.75rem;
}

/* Club Info */
.club-info {
  padding-top: 3.75rem;
  max-width: 30.3rem;
  max-height: 30rem;
}

.club-info button{
  position: relative;
  margin-top: 1.75rem;
  background-image: url(Icons/OpenOverlay.png);
  background-color: white;
  /* put the height and width of your image here */
  height: 45px;
  width: 45px;
  border: none;
}

.club-info p{
  max-width: 441px;
  font-weight: 400;
  font-size: 1.135rem;
  padding-top: 1.3rem;
  padding-left: 5%;
}

.pfp-title{
  display:flex;
  font-family: "Open Sans";
  color: #000;
}

.pfp-title img{
  max-width: 4.6rem;
  max-height: 4.6rem;
}
.club-titles{
  padding-top: 0.3rem;
  padding-left: 1.1rem;
  padding-right: 3rem;
}
.club-titles h2{
  color: #4D4D4D;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.club-titles h3{
  font-size: 2.5rem;
  font-weight: 600;
  font-style: normal;
  line-height: 120%;
}

.club-image {
  width: 469px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  display: block; 
  margin: 0 auto; 
}

#backpack-title {
  width: 325px;
}

#backpack-spacing{
  padding-right: 0.75rem;
}

#hiking-spacing{
  padding-right: 8.5rem;
}

#SPFIRG-spacing{
  padding-right: 5rem;
}

#hike-text{
  max-width: 26rem;
}

/* Overlay */
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.overlay-button span{
  display:none;
}

.overlay-content {
  display: flex;
  position: relative;
  top: 10%;
  max-width: 60rem;
  margin: auto;
  padding-left: 3.5rem;
  padding-top: 3.1rem;
  padding-right: 3.5rem;
  padding-bottom: 3.1rem;
  background: white;
  border-radius: 1.25rem;
}

.overlay-pfp-title{
  display: flex;
  font-family: "Open Sans";
  font-style: normal;
}

.overlay-pfp-title img{
  max-width: 5rem;
  max-height: 5rem;
}

.overlay-title{
  padding-top: 0.4rem;
  padding-left: 1rem;
}
.overlay-title h2{
  position: relative;
  top: 0.4rem;
  color: #4D4D4D;
  font-size: 1.06rem;
  font-weight: 400;
}

.overlay-title h3{
  color: #000;
  font-size: 2.5rem;
  font-weight: 400;
}

.overlay-text p{
  max-width: 27.5rem;
  padding-top: 1.71rem;
  padding-right: 4.875rem;
  padding-left: 2rem;
}

.buttons {
  position: relative;
  margin-top: 12.5%;
  width: 16.25rem;
  height: 11.875rem;
  display: grid;
  
}

.website{
  background-color: #F3f3f3;
  border-radius: 0.8rem;
  height: 3.43rem;
  display: flex;
  padding-left: 1.9rem;
  padding-top: 1.1rem;
}

.website img{
  width: 1.31rem;
  height: 1.31rem;
}

.website-btn{
  position: relative;
  bottom: 10%;
  left: 28%;
  color: #000;
  font-family: "Open Sans";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}

#backbutton{
  position: absolute;
  top: 8%;
  left: 95%;
  transform: translate(-95%, -8%);
}

/* WCIT Overlay */
#wcit-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}




/* Footer */
#footer {
  background-color: #007f63;
  color: white;
  padding: 1.25rem;
  padding-top: 6.875rem;
}

.foot-containter{
  
}

#footer h1{
  margin-bottom: 20px;
}

.text-container{
  display: flex;  
  max-width: 62.5rem;
}

.footer-content {
  text-align: left;
  max-width: 35.635rem;
}
.footer-content p{
  
  
}

.footer-content2{
  
}

.footer-content2 p{
  text-align: right;
}





/* Main TP Image */
.main-tp img {
  position: relative;
  margin-left: auto;
  padding-top: 4.375rem;
  max-width: 50%;
  max-height: 35rem;
  object-fit: cover;
  object-position: 95% 0;
}

/* Become Linked */
.become-linked {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Menu Button */
.become-linked a {
  display: inline-block;
	color: black;
	background-color:#F47d29;
	font-size: 1.5rem;
	padding: 0.5rem 0.75rem;
  margin: 0 0.5rem;
	text-decoration: none;
	transition-property: background-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
  border-radius: 0.5rem;
}

.become-linked a:hover,
.become-linked a:focus {
  background-color: #0056b3;
  color: white;
  text-decoration: none;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .become-linked {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .become-linked a {
    display: block;
    margin: 10px auto;
  }
}


/* Header Logo */
.header-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo img {
  max-width: 5%;
  /* height: auto; */
}

/* Logo styling */
.header-logo img {
  display: block; /* Make the logo image a block element */
  margin: 0 auto; /* Center horizontally */
}

.header-logo {
  flex-grow: 1; /* Allows the logo container to grow and take up space, helping in centering */
  display: flex;
  justify-content: center; /* Center the logo horizontally within the header */
}

/* Header layout */
.header {
  display: flex;
  justify-content: space-between; /* Places children at opposite ends */
  align-items: center;
  background-color: #D9D9D9;
  padding: 1rem 2rem;
}

.header a {
  /* float: left; */
  color: black;
  text-align: center;
  padding: 1rem;
  font-size: 1.25rem; 
  line-height: 1.5rem;
  border-radius: 0.25rem;
  float: right;
}



/* Navigation menu styling */
.nav-grid ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: right;
}

.nav-grid li {
  margin-left: 5rem;
}

.nav-link {
  text-decoration: none;
  color: #ffffff; 
  transition: background-color 0.3s ease; 
  white-space: nowrap;
}

.nav-link:hover, .nav-link:focus {
  background-color: #555; /* Darken link background on hover/focus for visual feedback */
  color: #D9D9D9;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}


@media screen and (max-width: 40rem) {
  .header, .header-logo {
    justify-content: center; /* Center content in smaller screens */
    flex-direction: column; /* Stack logo and navigation vertically on smaller screens */
  }

  .nav-grid ul {
    justify-content: center; /* Center navigation items on smaller screens */
    flex-direction: column; /* Stack nav items vertically */
  }

  .nav-grid li {
    margin-left: 0; /* Remove margin between nav items on smaller screens */
  }

  .header a {
    text-align: center; /* Ensure link text alignment is consistent */
  }
}





/* Menu Toggle */
/* #menu-toggle {
  position: absolute;
  left: -9999px;
} */

/* Header */
/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6.25rem;
  background: #D9D9D9;
  border: none;
} */

/* Body */
/* body {
  overflow-x: hidden;
} */

/* Navigation Menu */
/* .nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 15.625rem;
  height: 100%;
  background-color: #333;
  padding-top: 1.25rem;
  transition: transform 0.3s;
  transform: translateX(100%);
}

.nav-menu ul {
  list-style-type: none;
  padding: 0;
}

.nav-menu li {
  padding: 0.625rem 1.25rem;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
}

.nav-menu li a:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  .nav-menu {
      width: 100%;
  }
}

.menu-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 999;
  color: white;
  font-size: 1.5rem;
}

.menu-icon:hover {
  color: #aaa;
}

.menu-open .nav-menu {
  transform: translateX(0);
} */